@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap");

.navbar_dropdown_hover:hover {
  color: #202f5a;
  font-weight: bold;
}

.heading_font {
  font-family: "Fraunces", serif;
  font-weight: bold;
}

.feature_image {
  width: 257px;
  height: 267px;
}

.merit_list1 {
  padding: 20px 0;
}

.text-wrap {
  word-wrap: break-word;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.testimonial-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-card p {
  font-size: 18px;
  color: #555;
}

.custom-tabs .nav-link {
  background-color: white;
  color: black;
}

.custom-tabs .nav-link.active {
  background-color: #202f5a;
  border-color: #202f5a;
  color: white;
}

.list-container {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.list-group {
  overflow-y: auto;
  max-height: 100%;
}

.join-us-heading {
  font-size: 24px;
  color: #333;
}

.content-container {
  display: flex;
  align-items: flex-start;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  margin-right: 10px; /* Add spacing between the logo and company name */
}

.company-name {
  font-size: 20px; /* Adjust the font size as needed */
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-card img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.course-card .card-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.course-card .card-text {
  font-size: 12px;
  color: gray;
}

#jee-tabs {
  background-color: #202f5a;
  margin-top: 20px;
  border-radius: 5px;
}

.nav-link {
  color: white;
}

.custom-tabs .nav-link {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .custom-tabs .nav-link.active {
  font-weight: bold;
} */

.w-full {
  width: 100%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.jee-container {
  text-align: center;
  /* margin: auto; */
  /* width: 400px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.introduction {
  margin-bottom: 20px;
}

.tab-buttons {
  margin-bottom: 20px;
}

.tab-button {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button.active {
  background-color: #333;
  color: #fff;
}

.custom-flex_line-break {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.custom-flex_line-break img {
  width: 25%;
}

@media (max-width: 768px) {
  .custom-flex_line-break img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .custom-flex_line-break {
    margin-top: 2rem;
  }

  .custom-flex_line-break img {
    width: 75%;
  }
}

/* For small screens (up to 480px) */
@media (max-width: 480px) {
  img.img-hero {
    width: 100%;
    max-width: 100%;
  }
}

/* For medium screens (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  img.img-hero {
    width: 100%;
    max-width: 80%;
  }
}

/* For large screens (769px and above) */
@media (min-width: 769px) {
  img.img-hero {
    width: 100%;
    max-width: 28rem; /* Use rem unit or any other relative unit based on your design */
  }
}

/* For screens with a maximum width of 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .enquiry-form {
    width: 100%; /* Full width */
    max-width: 100%; /* No maximum width */
  }
}

/* For screens with a minimum width of 769px (e.g., tablets and larger) */
@media (min-width: 769px) {
  .enquiry-form {
    margin-left: 8rem;
    width: 60%; /* 50% of the parent container's width */
    max-width: 500px; /* Maximum width of 500px */
  }
}

/* HeroComponentRow */

/* .row-spacing { */
/* display: flex; */
/* justify-content: space-between; Spacing between columns */
/* } */

/* For screens with a maximum width of 767px (e.g., mobile devices) */
/* @media (max-width: 767px) {
  .row-spacing {
    flex-direction: column;
  } */

/* .row-spacing .col {
    margin-bottom: 20px; 
  } */
/* } */

/* For screens with a minimum width of 768px and a maximum width of 991px (e.g., tablets) */
/* @media (min-width: 768px) and (max-width: 991px) {
  .row-spacing .col {
    margin-bottom: 20px; 
    border: "2px solid black";
  }
} */

/* For screens with a minimum width of 992px (e.g., desktop) */
/* @media (min-width: 992px) {
  .row-spacing .col {
    border: "2px solid black";
    margin-right: 0px;
  }
} */

/* @media (max-width: 991px) {
  .line-display {
    display: none;
  }
} */

/* desktop  */
@media (min-width: 992px) {
  .line-display_responsive {
    display: none;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .line-display {
    display: none;
  }
}

/* Neet and Jee Responsive Rules */

/* Mobile Devices */
@media (max-width: 767px) {
  .neet_jee_page {
    display: flex;
    justify-content: center;
  }
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 991px) {
  .neet_jee_page {
    display: flex;
    justify-content: center;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .neet_jee_page {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}

/* whatsapp */

.whatsapp-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.whatsapp-widget.open {
  transform: translateX(-60px);
}

.whatsapp-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon {
  font-size: 30px;
}

.whatsapp-widget-content {
  background-color: #25d366;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  display: none;
}

.whatsapp-widget.open .whatsapp-widget-content {
  display: block;
}

/* Header */

/* mobile  */
@media (max-width: 767px) {
  .header_logo_image {
    width: 60%;
  }
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 991px) {
  .header_log_image {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .header_logo_image {
    width: 20%;
  }
}

/* tick animation  */
@keyframes tickAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* Blinking effect */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 2.5s infinite; /* Adjust the animation duration here */
}

/* mobile  */
@media (max-width: 767px) {
  .header_logo {
    display: flex;
    justify-content: center;
    border: "2px solid red";
  }
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 991px) {
  .header_log_image {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .header_logo_image {
    width: 20%;
  }
}